@charset "UTF-8";
.none {
  display: block !important;
}

html {
  scroll-behavior: smooth;
  transition: 2s;
}

body {
  overflow-x: hidden;
}

body #navigation {
  z-index: 5;
  width: 100vw;
  height: 6vh !important;
  position: fixed;
}

body #navigation #navigation_wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

/* 2019.10.15 ロゴ表示/調整 */
body #navigation #navigation_wrapper #navigation_companyName {
  width: 50vw;
  position: absolute;
  top: 3vh;
  left: 30px;
  height: 4vh !important;
}

body #navigation #navigation_wrapper #navigation_companyName h2 {
  font-size: 25px;
}

/* 2019.10.15 ボタンフォームのサイズ調整 */
body #navigation #navigation_wrapper #navigation_buttonToForm {
  width: 158px !important;
  height: 60px !important;
  position: absolute;
  top: 0.7vh;
  right: 3vh;
  border-radius: 20%;
  background: linear-gradient(136.9deg, #00a09b 3.1%, #00b383 95.27%);
  box-shadow: 1px 3px 3px 2px #262626;
}

body #navigation #navigation_wrapper #navigation_buttonToForm:hover {
  background: linear-gradient(136.9deg, #40a19d 3.1%, #47b396 95.27%);
}

body #navigation #navigation_wrapper #navigation_buttonToForm a {
  z-index: 6;
  display: block;
  position: relative;
  width: 100% !important;
  height: 100% !important;
}

/* 2019.10.15 文字サイズ調整 */
body #navigation #navigation_wrapper #navigation_buttonToForm a p {
  z-index: 5;
  font-size: 13px !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-30%);
  user-select: none;
  color: #f8f8f8;
  font-family: 'ＭＳ ゴシック';
}

body header {
  width: 100vw;
  height: 38vh !important;
  position: relative;
}

body header #header_background {
  z-index: -3;
  width: 100vw;
  position: absolute;
  top: -25vh;
}

body header #header_backgroundPattern_container {
  z-index: -2;
  width: 40vw;
  height: 40vw;
  position: absolute;
  right: 10vw;
  top: -15vh !important;
  left: -40vw !important;
  transform: scale(0.4);
}

body header #header_backgroundPattern_container #header_backgroundPattern {
  filter: blur(0.5px);
  animation: rotating 41s linear infinite;
  opacity: 0.8;
}

/* 2019.10.15 文字の位置調整 */
body header #header_text_1 {
  position: absolute;
  top: 20vh !important;
  left: 10vw !important;
  animation: fadein 1s;

}

/* 2019.10.15 文字サイズ調整 */
body header #header_text_1 h1 {
  font-size: 40px !important;
  font-family: 'ＭＳ ゴシック';
}

/* 2019.10.15 文字の位置調整 */
body header #header_text_2 {
  position: absolute;
  top: 30vh !important;
  left: 13vw !important;
  animation: fadein 1s;
}

body header #header_text_2 h2 {
  width: 300px;
  font-size: 20px !important;
  font-family: 'ＭＳ ゴシック';
}

body #content {
  width: 100vw;
  height: 440vh !important;
  position: relative;
}

body #content #contents_background_1 {
  z-index: -2;
  width: 80vw;
  position: absolute;
  top: 10vh;
  left: 0;
}

body #content #contents_background_2 {
  z-index: -3;
  width: 100vw;
  position: absolute;
  top: 0;
  left: -10vw;
}

body #content #contents_background_3 {
  z-index: -2;
  width: 100vw;
  position: absolute;
  top: 150vh;
  right: 0;
}

body #content #contents_background_4 {
  z-index: -2;
  width: 100vw;
  position: absolute;
  top: -30vh !important;
  left: -20vw;
  transform: scale(0.6);
}

body #content #contents_background_5 {
  z-index: -2;
  width: 100vw;
  position: absolute;
  top: 170vh;
  left: 5vw;
  transform: scale(0.3);
}

body #content #contents_background_6 {
  z-index: -1;
  width: 100vw;
  position: absolute;
  top: 140vh;
  left: 0;
}

body #content .contents_title {
  width: 100%;
  margin: 40px auto 25px 50%;
  transform: translateX(-50%);
  text-align: center;
}

/* 2019.10.15 サイズ、レイアウト調整 */
body #content .contents_title h2 {
  display: inline-block;
  font-size: 18px !important;
  font-family: 'ＭＳ ゴシック';
  width: 80%;
  text-align: center;
}

body #content .contents_border {
  width: 32vw !important;
  height: 3px;
  margin-left: 50%;
  transform: translateX(-50%);
  background-color: #0030b3;
}

body #content .contents_text {
  width: 84% !important;
  margin: 4vh auto auto 50%;
  transform: translateX(-50%);
}

body #content .contents_text p {
  font-size: 14px !important;
  line-height: 17px;
  font-family: 'ＭＳ ゴシック';
}

body #content #contents_animation {
  z-index: 1;
  width: 80vw !important;
  height: 40vh;
  position: absolute;
  top: 10vh;
  left: 50vw !important;
  box-shadow: 5px 5px 5px 5px #707070;
  border-radius: 8%;
  background-color: #ffffff;
  animation: none !important;
  transform: translateX(-50%) !important;
}
/* 2019.10.15 フォームの調整 */
body #content .contents_animationExample {
  width: 70vw !important;
  height: 30vh !important;
  box-shadow: 5px 5px 5px 5px #707070;
  border-radius: 8%;
  background-color: #ffffff;
  animation: none !important;
}

body #content .contents_animationExample .contents_animationExample_wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

body #content #contents_animationExample_1 {
  z-index: 2;
  position: absolute;
  top: 55vh !important;
  left: 50% !important;
  overflow-x: hidden;
  transform: translateX(-50%) !important;
}

body #content #contents_animationExample_1 p {
  width: 80%;
  height: 30%;
  position: absolute;
  top: 25% !important;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-family: 'ＭＳ ゴシック';
  font-size: 14px;
}

body #content #contents_animationExample_1 #contents_animationExample_fadein {
  display: block;
  position: absolute;
  top: 55%;
  left: 55%;
  animation: animationExample_fadein 4s infinite;
  font-size: 24px;
  width: 60% !important;
}

body #content #contents_animationExample_1 #contents_animationExample_slideIn {
  position: absolute;
  top: 75%;
  left: 55%;
  animation: animationExample_slidein 4s infinite;
  font-size: 24px;
  width: 60% !important;
}

body #content #contents_animationExample_2 {
  z-index: 3;
  position: absolute;
  top: 90vh !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}

body #content #contents_animationExample_2 p {
  width: 80%;
  height: 30%;
  position: absolute;
  top: 25% !important;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-family: 'ＭＳ ゴシック';
  font-size: 14px;
}

body #content #contents_animationExample_2 #contents_animationExample_loading_1 {
  display: block;
  position: absolute;
  top: 55% !important;
  left: 10%;
  animation: animationExample_loading_1 1s linear infinite;
  font-size: 28px;
  font-size: 26px !important;
}

body #content #contents_animationExample_2 #contents_animationExample_loading_2 {
  width: 50% !important;
  height: 50% !important;
  position: absolute;
  top: 40% !important;
  left: 48% !important;
  animation: rotating 3s linear infinite;
}

body #content #contents_animationExample_3 {
  z-index: 4;
  position: absolute;
  top: 125vh !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}

body #content #contents_animationExample_3 p {
  width: 80%;
  height: 30%;
  position: absolute;
  top: 25% !important;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-family: 'ＭＳ ゴシック';
  font-size: 14px;
}

body #content #contents_animationExample_3 #contents_animationExample_button_1 {
  width: 30%;
  height: 30%;
  position: absolute;
  bottom: 6vh;
  left: 60%;
  background-color: #0030b3;
  border-radius: 20px;
  box-shadow: 0 10px #04247d;
  animation: animationExample_button_1 2s infinite;
}

body #content #contents_animationExample_3 #contents_animationExample_button_1 p {
  text-align: center;
  margin-top: 20%;
  color: #f8f8f8;
  font-family: 'ＭＳ ゴシック';
}

body #content #contents_animationExample_3 #contents_animationExample_button_2 {
  width: 30%;
  height: 30%;
  position: absolute;
  bottom: 14vh !important;
  left: -1vw !important;
  transform: scale(0.15);
}

/* ボタンのサイズ変更 */
body #content #contents_animationExample_3 #contents_animationExample_button_2 object {
  animation: rotating 7s linear infinite;
  width: 600px;
}

body #content #contents_animationExample_3 #contents_animationExample_button_2 p {
  text-align: center;
  margin-top: 20%;
  color: #f8f8f8;
  font-family: 'ＭＳ ゴシック';
}

body #content #contents_cms {
  z-index: 1;
  width: 76vw !important;
  height: 42vh !important;
  position: absolute;
  top: 170vh !important;
  left: 50% !important;
  margin: 0 !important;
  transform: translateX(-50%);
  box-shadow: 5px 5px 5px 5px #707070;
  border-radius: 8%;
  background-color: #ffffff;
  animation: none !important;
  transform: translateX(-50%) !important;
}

body #content #contents_plansTitle {
  z-index: 1;
  position: absolute;
  top: 240vh !important;
  margin-left: 50%;
  transform: translateX(-50%);
  text-align: center;
  animation: none !important;
}

body #content #contents_plansTitle h2 {
  font-size: 32px;
  margin-bottom: 16px;
  font-family: 'ＭＳ ゴシック';
}

body #content #contents_plansTitle p {
  font-size: 18px;
  font-family: 'ＭＳ ゴシック';
}

body #content #contents_plansTitle p i {
  padding-top: 50%;
  transform: rotateY(-50%);
}

body #content .contents_plan_wrapper {
  width: 100%;
  height: 88%;
  position: relative;
}

body #content .contents_plan_term {
  width: 216px;
  position: absolute;
  right: 20px;
  bottom: 15px;
  text-align: center;
}

body #content .contents_plan_term p {
  font-size: 18px;
  line-height: 25px;
  font-family: 'ＭＳ ゴシック';
}

body #content .contents_plan_term p i {
  transform: translateY(6px);
}

body #content #contents_plan_1 {
  z-index: 1;
  width: 76vw !important;
  height: 40vh !important;
  position: absolute;
  top: 260vh !important;
  left: 50% !important;
  box-shadow: 5px 5px 5px 5px #707070;
  border-radius: 8%;
  background-color: #ffffff;
  animation: fadein 1s;
  transform: translateX(-50%) !important;
  animation: none !important;
}

body #content #contents_plan_1 .contents_text {
  width: 34vw;
}

body #content #contents_plan_2 {
  z-index: 1;
  width: 76vw !important;
  height: 46vh !important;
  position: absolute;
  top: 305vh !important;
  left: 50% !important;
  right: 8vw;
  box-shadow: 5px 5px 5px 5px #707070;
  border-radius: 8%;
  background-color: #ffffff;
  transform: translateX(-50%) !important;
  animation: none !important;
}

body #content #contents_plan_2 .contents_text {
  width: 34vw;
}

body #content #contents_buttonToForm {
  z-index: 1;
  width: 88vw !important;
  height: 20vh !important;
  position: absolute;
  top: 375vh !important;
  margin-left: 50%;
  transform: translateX(-50%);
  border-radius: 30px;
  background: linear-gradient(136.9deg, #00a09b 3.1%, #00b383 95.27%);
  box-shadow: 1px 3px 3px 2px #707070;
  transition: 1s;
  animation: none !important;
}

body #content #contents_buttonToForm:hover {
  background: linear-gradient(136.9deg, #40a19d 3.1%, #47b396 95.27%);
}

body #content #contents_buttonToForm #contents_buttonToForm_wrapper {
  width: 100%;
  height: 100%;
}

body #content #contents_buttonToForm a {
  z-index: 2;
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

body #content #contents_buttonToForm a p {
  width: 278px;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translateX(50%);
  font-size: 24px;
  color: #f8f8f8;
  font-family: 'ＭＳ ゴシック';
  transform: translateX(50%) translateY(-10px) !important;
}

body #content #contents_buttonToForm a p i {
  transform: translateY(3px);
}

body #contactForm {
  width: 100vw;
  height: 130vh;
  position: relative;
  background-color: #3f3f3f;
}

body #contactForm #contactForm_title {
  position: absolute;
  top: 13vh;
  padding-top: 20px;
  margin-left: 50%;
  transform: translateX(-50%);
}

body #contactForm #contactForm_title h2 {
  color: #f8f8f8;
  font-size: 24px;
  font-family: 'ＭＳ ゴシック';
}

body #contactForm #contactForm_border {
  width: 24vw;
  height: 3px;
  position: absolute;
  top: 25vh;
  margin-left: 50%;
  transform: translateX(-50%);
  background-color: #f8f8f8;
}

body #contactForm form {
  width: 60vw;
  position: absolute;
  top: 32vh;
  margin-left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

body #contactForm form dt {
  color: #f8f8f8;
  font-size: 18px;
  line-height: 36px;
  font-family: 'ＭＳ ゴシック';
}

body #contactForm form input {
  margin-bottom: 20px;
  border-style: none;
  border-radius: 5px;
  color: #ffffff;
  background-color: #262626;
  font-size: 20px;
  line-height: 26px;
  width: 78vw !important;
  margin-left: 50%;
  transform: translateX(-50%);
}

body #contactForm form textarea {
  width: 78vw !important;
  height: 20vh;
  resize: none;
  margin-bottom: 40px;
  border-style: none;
  border-radius: 5px;
  color: #ffffff;
  background-color: #262626;
  margin-left: 50%;
  transform: translateX(-50%);
}

body #contactForm form span {
  display: none !important;
}

body #contactForm form #form_submit_button {
  padding: 15px 30px !important;
  background-color: #fcf378 !important;
  color: #000000 !important;
  font-family: 'ＭＳ ゴシック' !important;
}

body footer {
  width: 100vw;
  height: 5vh;
  position: relative;
  background-color: #3f3f3f;
}

body footer #footer_conpanyName {
  position: absolute;
  right: 50px;
  bottom: 5px;
}

body footer #footer_conpanyName h2 {
  color: #f8f8f8;
  font-size: 12px;
}

@keyframes rotating {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadein_center {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}

@keyframes animationExample_fadein {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-10px);
  }
  40% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}

@keyframes animationExample_slidein {
  0% {
    opacity: 1;
    transform: translateX(-1000%);
  }
  40% {
    opacity: 1;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%);
  }
}

@keyframes animationExample_loading_1 {
  0% {
    color: #30b300;
    transform: scale(1);
  }
  50% {
    color: #0030b3;
    transform: scale(1.05);
  }
  100% {
    color: #30b300;
    transform: scale(1);
  }
}

@keyframes animationExample_button_1 {
  0% {
    box-shadow: 0 10px #04247d;
    transform: translateY(0);
  }
  50% {
    box-shadow: 0 0 #04247d;
    transform: translateY(10px);
  }
  100% {
    box-shadow: 0 10px #04247d;
    transform: translateY(0);
  }
}

/* -- for JavaScript ここから -------------------------------------------------------------------------------- */
form#mail_form dl dt span.required,
form#mail_form dl dt span.optional {
  display: inline-block;
  float: left;
  color: #ffffff;
  padding: 4px 10px;
  border-radius: 3px;
}

form#mail_form dl dt span.required {
  background: #d9534f;
  border: 1px solid #d43f3a;
}

form#mail_form dl dt span.optional {
  background: #337ab7;
  border: 1px solid #2e6da4;
}

form#mail_form dl dd span.error_blank,
form#mail_form dl dd span.error_format,
form#mail_form dl dd span.error_match {
  display: block;
  color: #ff0000;
  margin-top: 3px;
}

span.loading {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-top: 5px solid rgba(255, 255, 255, 0.2);
  border-right: 5px solid rgba(255, 255, 255, 0.2);
  border-bottom: 5px solid rgba(255, 255, 255, 0.2);
  border-left: 5px solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load-circle 1.0s linear infinite;
  animation: load-circle 1.0s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -30px;
}

@-webkit-keyframes load-circle {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load-circle {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* -- for JavaScript ここまで -------------------------------------------------------------------------------- */
