@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
@import url('https://fonts.googleapis.com/css?family=PT Mono');

.none {
  display: none !important;
}

* {
  margin: 0;
  padding: 0;
  font-family: "PT Mono";
}

html {
  scroll-behavior: smooth;
  transition: 2s;
}

body {
  overflow-x: hidden;
}

body #navigation {
  z-index: 5;
  width: 100vw;
  height: 10vh;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom: #908e8e;
}

body #navigation #navigation_wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

/* 2019.10.15 1行に収まる様に幅を調整 */
body #navigation #navigation_wrapper #navigation_companyName {
  width: 20vw;
  height: 10vh;
  position: absolute;
  top: 3vh;
  left: 30px;
  
}

body #navigation #navigation_wrapper #navigation_companyName h2 {
  font-size: 32px;
  color: #4b4949;
  font-family: "PT Mono";
}

/* 2019.10.15 ボタンを定型に変更 */
/* 2019.10.15 文字サイズ調整 */

/* 2019.11.7 一旦コメントに 味元*/
/* body #navigation #navigation_wrapper #navigation_buttonToForm {
  width: 200px;
  height: 80px;
  position: absolute;
  top: 5px;
  right: 30px;
  border-radius: 20%;
  background: linear-gradient(136.9deg, #00a09b 3.1%, #00b383 95.27%);
  box-shadow: 1px 3px 3px 2px #262626;
}

body #navigation #navigation_wrapper #navigation_buttonToForm:hover {
  background: linear-gradient(136.9deg, #40a19d 3.1%, #47b396 95.27%);
}

body #navigation #navigation_wrapper #navigation_buttonToForm a {
  z-index: 6;
  display: block;
  position: relative;
  width: 100% !important;
  height: 100% !important;
}

body #navigation #navigation_wrapper #navigation_buttonToForm a p {
  z-index: 5;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-30%);
  user-select: none;
  color: #f8f8f8;
  font-family: 'ＭＳ ゴシック';
} */


/* ここから変更 */
.header-navi-list {
  position: absolute;
  font-size: 25px;
  top: 26px;
  right: 30px;
  font-family: "PT Mono";
  letter-spacing:  0.3em;
}

.header-navi-item {
  display: inline;
  padding-left: 25px;
}

.header-navi-item:hover {
  opacity: 0.8;
}

.header-navi-item a {
  text-decoration: none;
  color: #4b4949;
}


body header {
  width: 100vw;
  height: 100vh;
  position: relative;
}

body header #header_background {
  z-index: -3;
  width: 100vw;
  position: absolute;
  top: -25vh;
}

body header #header_backgroundPattern_container {
  z-index: -2;
  width: 40vw;
  height: 40vw;
  position: absolute;
  top: -50vh;
  right: 10vw;
}

body header #header_backgroundPattern_container #header_backgroundPattern {
  filter: blur(0.5px);
  animation: rotating 41s linear infinite;
  opacity: 0.8;
}

body header #header_text_1 {
  position: relative;
  top: 40vh;
  text-align: center;
  animation: fadein 1s;
}

body header #header_text_1 h1 {
  font-size: 64px;
  font-family: "PT Mono";
}

body header #header_text_2 {
  position: relative;
  margin: 0;
  top: 50vh;
  text-align: center;
  animation: fadein 1s;
}

body header #header_text_2 h2 {
  font-size: 32px;
  font-family: "PT Mono";
  width: 100vw;
}


/* 11/10変更により一旦コメント味元 */
/* body #content {
  width: 100vw;
  height: 400vh;
  position: relative;
} */

/* メインコンテンツ */
body #content #contents_background_1 {
  z-index: -2;
  width: 80vw;
  position: absolute;
  top: 10vh;
  left: 0;
  opacity: 0.6;
}

body #content #contents_background_2 {
  z-index: -3;
  width: 100vw;
  position: absolute;
  top: 0;
  left: -10vw;
  opacity: 0.6;

}

body #content #contents_background_3 {
  z-index: -2;
  width: 100vw;
  position: absolute;
  top: 150vh;
  right: 0;
  opacity: 0.6;

}

body #content #contents_background_4 {
  z-index: -2;
  width: 100vw;
  position: absolute;
  top: -90vh;
  left: -20vw;
  transform: scale(0.6);
  opacity: 0.6;

}

body #content #contents_background_5 {
  z-index: -2;
  width: 100vw;
  position: absolute;
  top: 170vh;
  left: 5vw;
  transform: scale(0.3);
  opacity: 0.6;

}

body #content #contents_background_6 {
  z-index: -1;
  width: 100vw;
  position: absolute;
  top: 140vh;
  left: 0;
  opacity: 0.6;

}


.content-wrap {
  width: 100vw;
  height: 145vh;
}

/* 何ができるか */
.content-title {
  position: relative;
  display: block;
  margin: 0 auto;
  font-family: "PT Mono";
  letter-spacing: 5px;
  border-top: rgba(73, 73, 73, 0.6) solid;
  width: 90vw;
}

.content-title h1 {
  font-size: 56px;
  margin-bottom: 15px;
  margin-top: 80px;
}

.content-title h2 {
  font-size: 36px;
  margin-bottom: 100px;
}

.content-title h1,h2 {
  text-align: center;
}

ul.content-list {
  text-align: center;
  display: block;
  font-size: 36px;
  font-family: "PT Mono";
  letter-spacing: 1em;
  margin: 0 250px;
}

#content-item1, #content-item2, #content-item3 {
  border: #757575 solid 2px;
  padding: 80px;
  margin-bottom: 90px;
  background-color: rgba(199, 170, 170, 0.8);
  cursor: pointer;
}

#content-item1, #content-item2, #content-item3:hover {
  opacity: 0.8;
}

/* プラン */
.plan-select {
  margin: 0 auto;
  font-family: "PT Mono";
}

.plan {
  text-align: center;
  float: left;
  width: 25vw;
  border: #757575 solid 2px;
  margin: 10px 10px 10px 65px;
  padding: 80px 0 80px 24px;
  letter-spacing: 1em;
  font-size: 24px;
  cursor: pointer;
  background-color: rgb(170, 199, 186);
}

.plan:hover {
  opacity: 0.8;
}

.clear {
  clear: both;
}

#plans {
  text-align: center;
  font-family: "PT Mono";
}

#plans h1 {
  font-size: 24px;
  padding: 50px 0 30px 0;
  letter-spacing: 1em;
  margin-right: -1em;
}

#plans p {
  font-size: 12px;
  letter-spacing: 1em;
  margin-right: -1em;
  margin-bottom: 60px;
}

.plan-suggest {
  display: flex;
  border: #757575 solid 2px;
  width: 1020px;
  height: 412px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.plan-default {
  width: 200px;
  height: 450px;
  text-align: center;
  line-height: 100px;
  font-family: "PT Mono";
  padding-left: 30px;
  padding-top: 60px;
  letter-spacing: 0.2em;
  margin-right: -0.2em;
}

.plan-simple1 {
  padding-top: 100px;
}


/* 制作工程 */
#web-flow {
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.flow {
  display: flex;
}

.flow-box {
  width: 15vw;
  height: 20vh;
  border: 1px solid #fff;
  background-color: rgb(199, 233, 193);
  text-align: center;
  margin: 0 auto;
  padding-top: 30px;
  border-radius: 20px;
  cursor: pointer;
}

.flow-box:hover {
  opacity: 0.8;
}

.flow-box img {
  width: 80px;
  height: 80px;
  padding: 10px;
}

.flow-box h1 {
  padding-top: 15px;
  font-family: 'ＭＳ ゴシック';

}

/* お問い合わせ */
body #contactForm {
  width: 100vw;
  height: 160vh;
  background-color: #ffffff;
  position: relative;
}

body #contactForm #contactForm_title {
  position: absolute;
  top: 13vh;
  padding-top: 20px;
  margin-left: 50%;
  transform: translateX(-50%);
}

body #contactForm #contactForm_title h2 {
  color: #f8f8f8;
  font-size: 24px;
  font-family: 'ＭＳ ゴシック';
}

body #contactForm #contactForm_border {
  width: 24vw;
  height: 3px;
  position: absolute;
  top: 25vh;
  margin-left: 50%;
  transform: translateX(-50%);
  background-color: #9b9191;
}

body #contactForm form {
  width: 60vw;
  position: absolute;
  top: 32vh;
  margin-left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

body #contactForm form dt {
  color: #4b4949;
  font-size: 18px;
  line-height: 36px;
  font-family: 'ＭＳ ゴシック';
}

body #contactForm form input {
  width: 30vw;
  margin-bottom: 20px;
  border: #757575 solid 2px;
  border-radius: 5px;
  color: #757575;
  background-color: #fff;
  font-size: 20px;
  line-height: 26px;
}

body #contactForm form textarea {
  width: 30vw;
  height: 40vh;
  resize: none;
  margin-bottom: 40px;
  border: #757575 solid 2px;
  border-radius: 5px;
  color: #757575;
  background-color: #fff;
}

body #contactForm form span {
  display: none !important;
}

body #contactForm form #form_submit_button {
  padding: 15px 30px !important;
  background-color: rgba(52, 228, 46, 0.3) !important;
  color: #000000 !important;
  font-family: 'ＭＳ ゴシック' !important;
}




body footer {
  width: 100vw;
  height: 70vh;
  position: relative;
}

.content-title p {
  text-align: center;
}


.btn-social-phone {
  padding-bottom: 50px;
}

.btn-social-phone a {
  text-decoration: none;
  line-height: 70px;
  font-size: 18px;
  margin: 10px;
}
.btn-social-phone .fa-stack-2x {
  color: black;
  font-size:70px;
}
.btn-social-phone .fa-stack-1x{
  display: inline-block;  
  position: relative;
  font-size: 25px;
  top: 12px;
  left:8px;
  transition: .4s;
}
.btn-social-phone-twitter {
  color: #74c1f8;
}
.btn-social-phone-facebook {
  color: #668ad8;
}
.btn-social-phone-youtube {
  color: #ff1b1b;
}
.btn-social-phone-instagram {
  color: rgb(255, 196, 57);
}
.btn-social-phone a:hover .fa-stack-1x {
  -webkit-transform: rotateX(360deg);
  transform: rotateX(360deg);
}

/* ここまで変更 */




body footer #footer_conpanyName {
  position: absolute;
  right: 50px;
  bottom: 5px;
}

body footer #footer_conpanyName h2 {
  color: #757575;
  font-size: 12px;
}

@keyframes rotating {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadein_center {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}

@keyframes animationExample_fadein {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-10px);
  }
  40% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}

@keyframes animationExample_slidein {
  0% {
    opacity: 1;
    transform: translateX(-1000%);
  }
  40% {
    opacity: 1;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%);
  }
}

@keyframes animationExample_loading_1 {
  0% {
    color: #30b300;
    transform: scale(1);
  }
  50% {
    color: #0030b3;
    transform: scale(1.05);
  }
  100% {
    color: #30b300;
    transform: scale(1);
  }
}

@keyframes animationExample_button_1 {
  0% {
    box-shadow: 0 10px #04247d;
    transform: translateY(0);
  }
  50% {
    box-shadow: 0 0 #04247d;
    transform: translateY(10px);
  }
  100% {
    box-shadow: 0 10px #04247d;
    transform: translateY(0);
  }
}

/* 2019.10.15 mobile.cssに移行 */

/* -- for JavaScript ここから -------------------------------------------------------------------------------- */
form#mail_form dl dt span.required,
form#mail_form dl dt span.optional {
  display: inline-block;
  float: left;
  color: #ffffff;
  padding: 4px 10px;
  border-radius: 3px;
}

form#mail_form dl dt span.required {
  background: #d9534f;
  border: 1px solid #d43f3a;
}

form#mail_form dl dt span.optional {
  background: #337ab7;
  border: 1px solid #2e6da4;
}

form#mail_form dl dd span.error_blank,
form#mail_form dl dd span.error_format,
form#mail_form dl dd span.error_match {
  display: block;
  color: #ff0000;
  margin-top: 3px;
}

span.loading {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-top: 5px solid rgba(255, 255, 255, 0.2);
  border-right: 5px solid rgba(255, 255, 255, 0.2);
  border-bottom: 5px solid rgba(255, 255, 255, 0.2);
  border-left: 5px solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load-circle 1.0s linear infinite;
  animation: load-circle 1.0s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -30px;
}

@-webkit-keyframes load-circle {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load-circle {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* -- for JavaScript ここまで -------------------------------------------------------------------------------- */
