@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
@import url('https://fonts.googleapis.com/css?family=PT Mono');

.none {
  display: none !important;
}

* {
  margin: auto;
  padding: auto;
  font-family: "PT Mono";
  overflow: none;
}


#showloading {
background-color: #fff;
position: relative;
text-align: center;
}
#showloading img {
position: absolute;
width: 30vw;
left: 33vw;
top: 20vh;
}
.hidden {
  display: none;
}

@media screen and (max-width: 767px) {
  #showloading img {
    top: 40vh;
  }
}

html {
  scroll-behavior: smooth;
  transition: 2s;
}

body {
  overflow-x: hidden;
}

body #navigation {
  z-index: 5;
  width: 100vw;
  height: 10vh;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom: #908e8e;
}

body #navigation #navigation_wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

body #navigation #navigation_wrapper #navigation_companyName {
  width: 20vw;
  height: 4vh;
  position: absolute;
  top: 3vh;
  left: 30px;

}

body #navigation #navigation_wrapper #navigation_companyName h2 {
  font-size: 32px;
  color: #4b4949;
  font-family: "PT Mono";
}

body #navigation #navigation_wrapper #navigation_button ul {
  position: absolute;
  font-size: 25px;
  top: 26px;
  right: 30px;
  font-family: "PT Mono";
  letter-spacing:  0.3em;
}

body #navigation #navigation_wrapper #navigation_button li {
  display: inline;
  padding-left: 25px;
}

body #navigation #navigation_wrapper #navigation_button li:hover {
  opacity: 0.8;
}

body #navigation #navigation_wrapper #navigation_button a {
  text-decoration: none;
  color: #4b4949;
}

@media screen and (max-width: 767px) {
  body #navigation {
    z-index: 5;
    width: 100vw;
    height: 20vh;
  }
  body #navigation #navigation_wrapper {
    width: 100%;
    height: 250%;
    position: relative;
  }
  body #navigation #navigation_wrapper #navigation_companyName {
    width: 100vw;
    left: 0;
    margin: auto;
  }

  body #navigation #navigation_wrapper #navigation_companyName h2 {
    font-size: 2em;
  }
  body #navigation #navigation_wrapper #navigation_button {
    text-align: center;
  }
  body #navigation #navigation_wrapper #navigation_button ul {
    top: 8vh;
    right: 0;
    margin: auto;
  }
  body #navigation #navigation_wrapper #navigation_button a {
    font-size: 0.8em;
    display: inline-block;
    padding-top: 0.7vh;
  }
  body #navigation #navigation_wrapper #navigation_button li:hover {
    opacity: 0.7;
  }
}

/* ---------- header ---------- */
body header {
  width: 100vw;
  height: 100vh;
  position: relative;
}
body header #header_background {
  z-index: -3;
  width: 100vw;
  position: absolute;
  top: -25vh;
}
body header #header_backgroundPattern_container {
  z-index: -2;
  width: 40vw;
  height: 40vw;
  position: absolute;
  top: -50vh;
  right: 10vw;
}
body header #header_backgroundPattern_container #header_backgroundPattern {
  filter: blur(0.5px);
  animation: rotating 41s linear infinite;
  opacity: 0.8;
}
body header #header_text_1 {
  position: relative;
  top: 40vh;
  text-align: center;
  animation: fadein 1s;
}
body header #header_text_1 h1 {
  font-size: 64px;
  font-family: "PT Mono";
}
body header #header_text_2 {
  position: relative;
  margin: 0;
  top: 50vh;
  text-align: center;
  animation: fadein 1s;
}
body header #header_text_2 h2 {
  font-size: 32px;
  font-family: "PT Mono";
  width: 100vw;
}

@media screen and (max-width: 767px) {
  body header { height: 65vh;}
  body header #header_text_1 {
    top: 40vh;
  }
  body header #header_text_1 h1  {
    font-size: 0;
  }
  body header #header_text_1 h1:before  {
    font-size: 36px;
    content: "-Web Production-";
  }
  body header #header_text_2 {
    top: 45vh;
  }
  body header #header_text_2 h2 {
    font-size: 24px;
  }
}

/* ---------- body ---------- */
body #content #contents_background_1 {
  z-index: -2;
  width: 80vw;
  position: absolute;
  top: 10vh;
  left: 0;
  opacity: 0.6;
}

body #content #contents_background_2 {
  z-index: -3;
  width: 100vw;
  position: absolute;
  top: 0;
  left: -10vw;
  opacity: 0.6;

}

body #content #contents_background_3 {
  z-index: -2;
  width: 100vw;
  position: absolute;
  top: 150vh;
  right: 0;
  opacity: 0.6;

}

body #content #contents_background_4 {
  z-index: -2;
  width: 100vw;
  position: absolute;
  top: -90vh;
  left: -20vw;
  transform: scale(0.6);
  opacity: 0.6;

}

body #content #contents_background_5 {
  z-index: -2;
  width: 100vw;
  position: absolute;
  top: 170vh;
  left: 5vw;
  transform: scale(0.3);
  opacity: 0.6;

}

body #content #contents_background_6 {
  z-index: -1;
  width: 100vw;
  position: absolute;
  top: 140vh;
  left: 0;
  opacity: 0.6;

}


/*-------- What We Can Do --------*/

body .content-wrap {
  height: 2200px;
}

body .content-title {
  padding-top: 100px;
  position: relative;
  margin: 0 auto;
  font-family: "PT Mono";
  letter-spacing: 5px;
  border-top: rgba(73, 73, 73, 0.6) solid;
  width: 90vw;
}

body .content-title h1 {
  font-size: 56px;
  margin-bottom: 15px;
  margin-top: 10vh;
}

body .content-title h2 {
  font-size: 36px;
  padding-bottom: 20vh;
}

body .content-title h1,h2 {
  text-align: center;
}

body .content-list {
  font-size: 48px;
  letter-spacing: 1em;
  margin: 0 10vw;
}

body #content-item1, #content-item2, #content-item3 {
  border: #757575 solid 2px;
  margin-bottom: 150px;
  background-color: rgba(199, 170, 170, 0.8);
  cursor: pointer;
  text-align: center;
}

body #text1, #text2, #text3 {
  position: absolute;
  left: 0;
  right: 0;
  padding-top: 150px;
  padding-bottom: 150px;
  margin: auto;
}

body #text1-content, #text2-content, #text3-content {
  position: absolute;
  display: inline;
  font-size: 24px;
  letter-spacing: 0;
  width: 360px;
  left: 52vw;
  margin-top: 90px;
  opacity: 0;
}

body .content-list img {
  height: 336px;
  padding: 0;
  opacity:0;
  right: 15vw;
  position: relative;
}

@media screen and (max-width: 767px) {
  body .content-wrap {
    height: 2700px;
  }
  body .content-wrap .content-title h1 {
    font-size: 0;
    margin: 5vh 0;
  }
  body .content-wrap .content-title h1:before {
    font-size: 30px;
    content: "What We Can Do";
  }
  body .content-wrap .content-title h2 {
    font-size: 20px;
  }
  body .content-wrap .content-list {
    margin: 0;
    text-align: center;
  }
  body .content-wrap .content-list #content-item1, #content-item2, #content-item3 {
    background-color: inherit;
    border: none;
    width: 93vw;
  }
  body .content-wrap .content-list #text1-content, #text2-content, #text3-content {
    opacity: 1;
    width: 100vw;
    position: inherit;
    font-size: 20px;
    line-height: normal;
    margin-top: 5vh;
  }
  body .content-wrap .content-list p {
    font-size: 30px;
    letter-spacing: 0.2em;
    z-index: 2;
  }
  body .content-wrap .content-list img {
    opacity: 0.4;
    width: 80vw;
    margin:auto;
    padding: 0 5vw;
    z-index: 0;
    border-top: solid 2px;
    right: 0;
  }
}

/* --------- Site Plan --------*/

body #sitePlan {
  height: 1500px;
  min-width: 1020px;
}

body .plan-select {
  width: 90vw;
  font-family: 'PT Mono';
  display: flex;
  margin: auto;
  padding: 30px;
  max-width: 1020px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border-radius: 3px;
  position: relative;
  box-sizing: border-box;
  background-color: rgb(199, 233, 193);
}

body .plan-select div {
  position: relative;
  flex: 1;
  border-right: 1px solid;
}

body .plan-select .last {
  border-right: none;
}

body .plan-select input {
  height: 60px;
  width: 100%;
  opacity: 0;
}

body .plan-select p {
  position: absolute;
  top:0; left:0; bottom: 0; right: 0;
  color: #000;
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 20px 0;
}

body .plan-select div:hover {
  background: rgba(255, 255, 255, 0.6);
  font-weight: 500;
  color: #fff;
}

body .plan {
  display: flex;
  border-radius: 3px;
  border: 1px solid #b6b6b6;
  overflow: hidden;
}

body #plans {
  text-align: center;
  font-family: "PT Mono";
}

body #plans h1 {
  font-size: 24px;
  padding: 50px 0 30px 0;
  letter-spacing: 1em;
  margin-right: -1em;
  margin-top: 30px;
  margin-bottom: 10px;
}

body #plans p {
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1em;
  margin-right: -1em;
  margin-bottom: 80px;
}

body #plans a {
  padding-bottom: 10px;
  font-family: "PT Mono";
  font-size: 12px;
}

body #plan1Content, #plan2Content, #plan3Content {
  display: none;
}

body .plan-suggest {
  display: flex;
  box-sizing: border-box;
  border: #757575 solid 2px;
  max-width: 1020px;
  height: 412px;
  margin: 10px auto;
  margin-bottom: 100px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

body .plan-default {
  width: 200px;
  height: 450px;
  text-align: center;
  line-height: 100px;
  font-family: "PT Mono";
  padding-left: 40px;
  letter-spacing: 0.2em;
  margin-right: -0.2em;
}

body .plan-default li {
  background-color: rgba(0,0,0,0.8);
  border-radius: 200px;
  margin: 30px 0;
  color: rgba(255, 255, 255, 1);
}

body .plan-simple1 {
  padding-top: 130px;
}

@media screen and (max-width: 767px) {
  body #sitePlan {
    width: 100vw;
    min-width: inherit;
    overflow: hidden;
    height: 200vh;
  }
  body #sitePlan .content-title h1{
    font-size: 0;
    display: inherit;
    width: auto;
    margin: 5vh 16.5vw;
  }
  body #sitePlan .content-title h1:before {
    font-size: 30px;
    content: "Site Plan";
  }
  body #sitePlan .content-title h2 {
    font-size: 20px;
    padding-bottom: 20vh;
  }
  body #sitePlan .plan-select {
    display: inherit;
  }
  body #sitePlan .plan-select div {
    border-right: none;
    border-bottom: 1px solid;
    padding: 3vh 2vw;
  }
  body #sitePlan .plan-select p {
    padding-top: 3vh;
  }
  body #sitePlan .plan-select div:last-child {
    border-bottom: none;
  }
  body #sitePlan #plans p {
    width: 75vw;
    margin: 5vh auto;
  }
  body #sitePlan .plan-suggest {
    height: 360px;
    padding: 3px;
    width: 90vw;
  }
  body #sitePlan .plan-suggest .plan-default {
    padding-left: 10px;
    line-height: 10px;
    letter-spacing: 0.1em;
  }
  body #sitePlan .plan-suggest .plan-default li {
    font-size: 0.5em;
    height: 5em;
    margin-top: 20px;
    padding-top: 4em;
    margin-bottom: 0;
    border-radius: 100px;
  }
  body #sitePlan .plan-suggest .plan-default ul:last-child {
    margin-right: 10px;
  }
  body #sitePlan .plan-suggest .plan-default .plan-simple1 {
    padding-top: 110px;
  }
}
/*--------- 制作工程 ----------*/
#web-flow {
  width: 100vw;
  height: 1400px;
  text-align: center;
}

.flow {
  display: flex;
  width: 250vw;
}

.flow-box {
  width: 15vw;
  height: 20vh;
  border: 1px solid #fff;
  background-color: rgb(199, 233, 193);
  text-align: center;
  margin: 0 auto;
  padding-top: 30px;
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
}

.flow-box:hover {
  opacity: 0.8;
}

.flow-box img {
  width: auto;
  height: 80px;
  padding: 1vw;
}

@keyframes loop {
  0% { transform: translateX(0); }
  19% { transform: translateX(0); }
  20% { transform: translateX(-25vw); }
  39% { transform: translateX(-25vw); }
  40% { transform: translateX(-50vw); }
  59% { transform: translateX(-50vw); }
  60% { transform: translateX(-75vw); }
  79% { transform: translateX(-75vw); }
  80% { transform: translateX(-100vw); }
  99% { transform: translateX(-100vw); }
  100% { transform: translateX(-125vw); }
}

.flow {
  animation: loop 40s -40s linear infinite;
}

.flow-box h1 {
  padding-top: 15px;
  font-family: 'ＭＳ ゴシック';
}

.flowDetail {
  width: 100vw;
  padding-top: 50px;
}

.flowDetailBox {
  width: 50vw;
  height: 530px;
  border: 1px solid #fff;
  background-color: rgb(199, 233, 193);
  text-align: center;
  margin: 0 auto;
  padding-top: 30px;
  border-radius: 20px;
  cursor: pointer;
}

.flowDetailBox img {
  width: auto;
  height: 350px;
  padding: 1vw;
}

.flowDetailBox h1 {
  font-size: 2em;
  padding-bottom: 20px;
}

.flowDetailBox p {
  font-size: 1.5em;
  display: inline-block;
}

.flowDetailContent {
  max-width: 40vw;
  padding: 6px 24px;
}

@media screen and (max-width: 767px) {
  body #web-flow {
    width: 100vw;
    min-width: inherit;
    overflow: hidden;
    height: 150vh;
  }
  body #web-flow .content-title h1{
    font-size: 0;
    display: inherit;
    width: auto;
    margin: 5vh 16.5vw;
  }
  body #web-flow .content-title h1:before {
    font-size: 30px;
    content: "Web Flow";
  }
  body #web-flow .content-title h2 {
    font-size: 20px;
    padding-bottom: 20vh;
  }
  body #web-flow .flow-box {
    margin: 0 2.3vw;
    height: 10vh;
    width: 20vw;
    padding-bottom: 60px;
    padding-top: 5px;
  }
  body #web-flow .flow-box img {
    width: 15vw;
  }
  body #web-flow .flowDetailBox {
    width: 80vw;
    height: 55vh;
    padding-top: 10px;
  }
  body #web-flow .flowDetailBox img {
    width: 60vw;
    height: 30vh;
  }
}

/* お問い合わせ */
body #contactForm {
  width: 100vw;
  height: 200vh;
  background-color: #ffffff;
  position: relative;
}

body #contactForm #contactForm_title {
  position: absolute;
  top: 13vh;
  padding-top: 20px;
  margin-left: 50%;
  transform: translateX(-50%);
}

body #contactForm #contactForm_title h2 {
  color: #f8f8f8;
  font-size: 24px;
  font-family: 'PT Mono';
}

body #contactForm #contactForm_border {
  width: 24vw;
  height: 3px;
  position: absolute;
  top: 27vh;
  margin-left: 50%;
  transform: translateX(-50%);
  background-color: #9b9191;
}

body #contactForm form {
  width: 80vw;
  position: absolute;
  top: 40vh;
  margin-left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

body #contactForm form dt {
  color: #4b4949;
  font-size: 18px;
  line-height: 36px;
  font-family: 'PT Mono';
}

body #contactForm form input {
  width: 50vw;
  margin-bottom: 30px;
  border: #757575 solid 2px;
  border-radius: 5px;
  color: #757575;
  background-color: #fff;
  font-size: 20px;
  line-height: 26px;
}

body #contactForm form textarea {
  width: 50vw;
  height: 40vh;
  resize: none;
  margin-bottom: 50px;
  border: #757575 solid 2px;
  border-radius: 5px;
  color: #757575;
  background-color: #fff;
}

body #contactForm form span {
  display: none !important;
}

body #contactForm form #form_submit_button {
  padding: 15px 30px !important;
  background-color: rgba(52, 228, 46, 0.3) !important;
  color: #000000 !important;
  font-family: 'ＭＳ ゴシック' !important;
}

@media screen and (max-width:767px) {
  body #contactForm {
    width: 100vw;
    min-width: inherit;
    overflow: hidden;
    height: 230vh;
    text-align: center;
  }
  body #contactForm .content-title h1{
    font-size: 0;
    display: inherit;
    width: auto;
    margin: 8vh 18.5vw;
  }
  body #contactForm .content-title h1:before {
    font-size: 30px;
    content: "Contact";
  }
  body #contactForm .content-title h2 {
    font-size: 20px;
    padding-bottom: 20vh;
  }
  body #contactForm form {
    width: 90vw;
  }
  body #contactForm form dl {
    text-align: center;
  }
  body #contactForm form dt {
    display: flex;
    margin-left: 15vw;
  }
  body #contactForm form dd {
    width: 100vw;
  }
}


body footer {
  width: 100vw;
  height: 120vh;
  position: relative;
}

.content-title p {
  text-align: center;
  padding: 20px;
  line-height: 1.5em;
  margin-bottom: 5vh;
}
.googleMap {
  display:block;
  border: solid 1px;
  width: 600px;
  left: 0;
  margin: auto;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}


.btn-social-phone {
  padding-top: 5vh;
  padding-bottom: 50px;
  text-align: center;
}

.btn-social-phone a {
  text-decoration: none;
  line-height: 70px;
  font-size: 18px;
  margin: 20px;
}
.btn-social-phone .fa-stack-2x {
  color: black;
  font-size:70px;
}
.btn-social-phone .fa-stack-1x{
  display: inline-block;
  position: relative;
  font-size: 25px;
  top: 12px;
  left:8px;
  transition: .4s;
}
.btn-social-phone-twitter {
  color: #74c1f8;
}
.btn-social-phone-facebook {
  color: #668ad8;
}
.btn-social-phone-youtube {
  color: #ff1b1b;
}
.btn-social-phone-instagram {
  color: rgb(255, 196, 57);
}
.btn-social-phone a:hover .fa-stack-1x {
  -webkit-transform: rotateX(360deg);
  transform: rotateX(360deg);
}




footer .circle, .circle-1, .circle-2, .circle-3 {
  position: absolute;
  left: 20%;
  font-family: "PT Mono";
}





body footer #footer_conpanyName {
  left: 0;
  margin: auto;
  bottom: 2px;
  padding-top: 6vh;
}

body footer #footer_conpanyName h2 {
  color: #757575;
  font-size: 12px;
}

@media screen and (max-width: 767px) {
  body footer {
    width: 100vw;
    min-width: inherit;
    overflow: hidden;
    height: 140vh;
    text-align: center;
  }
  body footer .googleMap {
    width: 90%;
    text-align: center;
    border: none;
  }
  body footer .googleMap iframe {
    width: 95%;
  }
}

@keyframes rotating {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadein_center {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}

@keyframes animationExample_fadein {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-10px);
  }
  40% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}

@keyframes animationExample_slidein {
  0% {
    opacity: 1;
    transform: translateX(-1000%);
  }
  40% {
    opacity: 1;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%);
  }
}

@keyframes animationExample_loading_1 {
  0% {
    color: #30b300;
    transform: scale(1);
  }
  50% {
    color: #0030b3;
    transform: scale(1.05);
  }
  100% {
    color: #30b300;
    transform: scale(1);
  }
}

@keyframes animationExample_button_1 {
  0% {
    box-shadow: 0 10px #04247d;
    transform: translateY(0);
  }
  50% {
    box-shadow: 0 0 #04247d;
    transform: translateY(10px);
  }
  100% {
    box-shadow: 0 10px #04247d;
    transform: translateY(0);
  }
}

/* 2019.10.15 mobile.cssに移行 */

/* -- for JavaScript ここから -------------------------------------------------------------------------------- */
form#mail_form dl dt span.required,
form#mail_form dl dt span.optional {
  display: inline-block;
  float: left;
  color: #ffffff;
  padding: 4px 10px;
  border-radius: 3px;
}

form#mail_form dl dt span.required {
  background: #d9534f;
  border: 1px solid #d43f3a;
}

form#mail_form dl dt span.optional {
  background: #337ab7;
  border: 1px solid #2e6da4;
}

form#mail_form dl dd span.error_blank,
form#mail_form dl dd span.error_format,
form#mail_form dl dd span.error_match {
  display: block;
  color: #ff0000;
  margin-top: 2px;
}

span.loading {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-top: 5px solid rgba(255, 255, 255, 0.2);
  border-right: 5px solid rgba(255, 255, 255, 0.2);
  border-bottom: 5px solid rgba(255, 255, 255, 0.2);
  border-left: 5px solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load-circle 1.0s linear infinite;
  animation: load-circle 1.0s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -30px;
}

@-webkit-keyframes load-circle {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load-circle {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* -- for JavaScript ここまで -------------------------------------------------------------------------------- */
